
header{
    display: flex;
    flex-direction: row;
    border-bottom: 3px solid black;
    margin-bottom: 50px;
    justify-content: center;
    background-color: rgb(82, 21, 21);
    width: 100%;

}
.name{
    text-align: center;
    margin: 0;
    color: white;
    font-family: sans-serif;
}
a{
    text-decoration: none !important;
}
.title{
    position: absolute;
    left: 10px;
    top: -3px;
    margin: 0;
    font-size: 250%;
    font-family: sans-serif;
    -webkit-text-stroke: 1.5px black;
    color: aqua;
}
.board{
    display: grid;
    gap: 6px;
    width: 200px;
    height: 200px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    position: relative;
    left: -60px;
}
button{
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2{
    text-align: center;
    position: relative;
    left: -15px;
}
#ganador{
    position: relative;
    top: 150px;
}